## Ejercicios Pair Programing Lectura Ficheros
En este pair vamos a trabajar la apertura y exploración de archivos. Para finalmente guardar el archivo con un formato diferente.


1. Hacer las importaciones necesarias para abrir un archivo de tipo "csv" en Pandas.

In [6]:
#Importamos la librería Panda.
import pandas as pd


2. Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0".

In [7]:
#Abrimos el archivo csv creando un DataFrame en el que expecifico que el índice de las columnas es 0.
df_videogames= pd.read_csv('videogames.csv', index_col=0)
df_videogames

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

3. Una vez creado el Dataframe, muestra las 10 primeras filas.

In [8]:
#Usamos .head incluyendo el numero 10 entre paréntesis para mostrar las primeras 10 filas.
df_videogames.head(10)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
5,The Last of Us: Part II,https://www.imdb.com/title/tt6298000/?ref_=adv...,2020.0,M,8.5,"30,460","Five years after the events of The Last of Us,...",True,True,False,False,False,False,False,False,False
6,Horizon Forbidden West,https://www.imdb.com/title/tt12496904/?ref_=ad...,2022.0,T,9.2,"2,979",Aloy treks into an arcane region and faces new...,True,True,False,False,False,False,True,False,False
7,The Last of Us,https://www.imdb.com/title/tt2140553/?ref_=adv...,2013.0,M,9.7,"60,590","In a hostile, post-pandemic world, Joel and El...",True,True,False,False,False,False,False,False,False
8,Detroit: Become Human,https://www.imdb.com/title/tt5158314/?ref_=adv...,2018.0,M,9.2,"16,907",Take control of three androids in their quest ...,True,True,False,False,False,False,False,False,False
9,Death Stranding,https://www.imdb.com/title/tt5807606/?ref_=adv...,2019.0,M,8.8,"8,136",Deliveryman Sam Porter must travel across a ra...,True,True,False,False,False,False,False,False,False

4. ¿Cúal es el último índice que tenemos en el Dataframe?

In [9]:
#Podemos usar .tail para encontar el último índice...
df_videogames.tail(1)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

In [10]:
#... O .index para encontrar únicamente el dato que nos interesa.
ultimo_indice = df_videogames.index[-1]
ultimo_indice

20802

5. Mostrar 15 filas aleatorias.

In [11]:
#Usamos .sample() para mostrar 15 filas aleatorias que cambiarán cada vez que ejecutemos el código.
df_videogames.sample(15)

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
17012,Hugo Spielewerkstatt,https://www.imdb.com/title/tt1794807/?ref_=adv...,2010.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,True,False,False,False,False
5280,Top Gunner,https://www.imdb.com/title/tt0369596/?ref_=adv...,1986.0,Not Rated,7.2,49,A commando team (four soldiers on a jeep) are ...,True,True,False,False,False,False,False,False,False
10040,NieR: Automata,https://www.imdb.com/title/tt5238626/?ref_=adv...,2017.0,M,8.8,"2,884","In the forsaken wasteland below, the war betwe...",True,True,False,False,False,False,False,False,False
6030,Heatseeker,https://www.imdb.com/title/tt11443782/?ref_=ad...,1990.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
14268,SimSafari,https://www.imdb.com/title/tt9838652/?ref_=adv...,1998.0,E,7.7,7,Add a Plot,False,True,False,False,False,False,False,False,False
16948,Worms Blast,https://www.imdb.com/title/tt0403686/?ref_=adv...,2002.0,E,4.8,30,Add a Plot,False,False,False,False,True,False,False,False,False
17149,Basic Maths,https://www.imdb.com/title/tt19037206/?ref_=ad...,1977.0,NaN,NaN,NaN,Basic Maths is an educational game in which pl...,False,False,False,False,True,False,False,False,False
14981,Pursuit of Light 2,https://www.imdb.com/title/tt6966506/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,True,False,False,False,False,False,False,False
18559,Ken-Go,https://www.imdb.com/title/tt2581724/?ref_=adv...,1991.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,True,False,False,False
10154,Brothers: A Tale of Two Sons,https://www.imdb.com/title/tt3130160/?ref_=adv...,2013.0,T,8.2,"1,903",An emotional account of two brothers journey i...,False,True,False,False,False,True,False,False,False
16890,Palamedes,https://www.imdb.com/title/tt2440020/?ref_=adv...,1990.0,NaN,6.3,7,Add a Plot,False,False,False,False,True,False,False,False,False
19859,Alien Sector,https://www.imdb.com/title/tt2323471/?ref_=adv...,1985.0,NaN,5.7,8,Add a Plot,True,False,False,False,False,False,False,True,False
15365,Home Alone,https://www.imdb.com/title/tt8703816/?ref_=adv...,2006.0,NaN,5.7,34,"Choose to play as Carl, Carly, Kelly or Kevin,...",False,False,True,False,False,False,False,False,False
14208,Witches' Legacy 5: Slumbering Darkness,https://www.imdb.com/title/tt4628814/?ref_=adv...,2015.0,NaN,NaN,NaN,The legacy of the witches continues with anoth...,False,True,False,False,False,False,False,False,False
16302,Barbie and the Three Musketeers,https://www.imdb.com/title/tt1723594/?ref_=adv...,2009.0,NaN,4.9,19,Barbie and the Three Musketeers Join Barbie Ak...,False,False,False,False,True,False,False,False,False

6. Crea una lista con el nombre de las columnas.

In [12]:
df_videogames.columns

Index(['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot',
       'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy',
       'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

7. Guardar el Dataframe en formato Excel y después crear un Dataframe con el Excel. ¿EL Dataframe es similar al que teníais antes?

In [13]:
#Guardamos el DataFrame como excel.
excel_videogames = df_videogames.to_excel("df_videogames.xlsx")
#Creamos un nuevo DataFrame del excel que parece tener el mismo tipo de información.
df_excel_videogames = pd.read_excel("df_videogames.xlsx", index_col=0)
df_excel_videogames

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

8. Muestra la "info" del Dataframe.

In [14]:
#Para asegurarnos de la similitud de los dos DataFrame imprimimos la información de ambos.
print(df_excel_videogames.info())
print(df_videogames.info())

<class 'pandas.core.frame.DataFrame'>
Index: 20803 entries, 0 to 20802
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         20803 non-null  object
 1   url          20803 non-null  object
 2   year         20536 non-null  float64
 3   certificate  7903 non-null   object
 4   rating       11600 non-null  float64
 5   votes        11600 non-null  object
 6   plot         20803 non-null  object
 7   Action       20803 non-null  bool
 8   Adventure    20803 non-null  bool
 9   Comedy       20803 non-null  bool
 10  Crime        20803 non-null  bool
 11  Family       20803 non-null  bool
 12  Fantasy      20803 non-null  bool
 13  Mystery      20803 non-null  bool
 14  Sci-Fi       20803 non-null  bool
 15  Thriller     20803 non-null  bool
dtypes: bool(9), float64(2), object(5)
memory usage: 1.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 20803 entries, 0 to 20802
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         20803 non-null  object
 1   url          20803 non-null  object
 2   year         20536 non-null  float64
 3   certificate  7903 non-null   object
 4   rating       11600 non-null  float64
 5   votes        11600 non-null  object
 6   plot         20803 non-null  object
 7   Action       20803 non-null  bool
 8   Adventure    20803 non-null  bool
 9   Comedy       20803 non-null  bool
 10  Crime        20803 non-null  bool
 11  Family       20803 non-null  bool
 12  Fantasy      20803 non-null  bool
 13  Mystery      20803 non-null  bool
 14  Sci-Fi       20803 non-null  bool
 15  Thriller     20803 non-null  bool
dtypes: bool(9), float64(2), object(5)
memory usage: 1.4+ MB
None

9. ¿Tiene nulos o duplicados?

In [15]:
#Buscamos los valores nulos por columna.
print(df_excel_videogames.isnull().sum())
print('_______________________________________')
#Y Buscamos los valores duplicados
duplicados = df_excel_videogames.duplicated().sum()
print('Los valores duplicados son:', duplicados)

name               0
url                0
year             267
certificate    12900
rating          9203
votes           9203
plot               0
Action             0
Adventure          0
Comedy             0
Crime              0
Family             0
Fantasy            0
Mystery            0
Sci-Fi             0
Thriller           0
dtype: int64
_______________________________________
Los valores duplicados son: 0        False
1        False
2        False
3        False
4        False
         ...
20798    False
20799    False
20800    False
20801    False
20802    False
Length: 20803, dtype: bool

10. Obtener la descripción del Dataframe, tanto de las columnas numéricas cómo de las de tipo "object". Explorar el resultado y sacar unas mínimas comclusiones sobre los datos que habéis obtenido.

In [16]:
#Obtenemos la describción de las columnas numéricas...
print(df_excel_videogames.describe(include='object'))
print('_________________________')
"""De los datos no numéricos, observamos que  """
#... Y de las no numéricas
print(df_excel_videogames.describe())
"""De los datos numéricos observamos que los video juegos más antiguos datan del año 1952 y que se han incluido registros 
hasta el año 2027."""

              name                                                url  \
count        20803                                              20803
unique       19714                                              20157
top     Spider-Man  https://www.imdb.com/title/tt5807780/?ref_=adv...
freq             9                                                  4

       certificate  votes        plot
count         7903  11600       20803
unique          21   1905       11276
top              T      7  Add a Plot
freq          2474    318        8874
_________________________
               year        rating
count  20536.000000  11600.000000
mean    2005.568611      7.047526
std       11.846028      1.235204
min     1952.000000      1.000000
25%     1997.000000      6.400000
50%     2008.000000      7.200000
75%     2016.000000      7.900000
max     2027.000000      9.700000

'De los datos numéricos observamos que los video juegos más antiguos datan del año 1952 y que se han incluido registros \nhasta el año 2027.'

11. Finalmente, guarda el Dataframe en formato "csv" con un nombre diferente del original.

In [17]:
df_excel_videogames.to_csv("df_excel_videogames.csv", index=False)